

h1{
 color: gray;
 font-family: sans-serif;
}

.gradient-box{


  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f5fc+0,bfe8f9+50,9fd8ef+51,2ab0ed+100;Blue+Gloss+%235 */
  background: #e4f5fc; /* Old browsers */
  background: -moz-linear-gradient(top, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
  border-radius: 20px;
}

body, * {
  box-sizing: border-box;
  --favorite: goldenrod;
}

.clear{
  clear: both;
}

#wrapper{
  background-color: gray;
  max-width: 960px;
  margin: 0 auto;
}

header{
  background-color: var(--favorite, gray);
  height: 100px;
}

nav{
  background-color: lightblue;

}

nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 10;
}

nav li {
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  border-bottom: 3px solid #888;
}

nav a{
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .5s background-color;
  border-bottom: 3px solid #888;
}

nav a:hover{
  background-color: violet;
}

nav a.active{
  background-color: green;
  cursor: default;
}

nav li li{
  font-size: 1rem;
  text-align: left;
}

nav li li a{
  padding-left: 10px;
}

main{
  background-color: violet;
  width:960px;
}

footer{
  background-color: var(--favorite, gray);
  height: 100px;
}

aside{
  background-color: cadetblue;
  width: 300px;
  min-height: 400px;
  float: left;
}

section{
  background-color: thistle;
  width: 660px;
  min-height: 400px;
  float: left;
  position: relative;
}

@media (max-width: 767px){
main{
  width: 100%;
}

img {

  width: 100%;
  height: auto;
  display: block;
}

  #wrapper{
    margin-width: 100%;
  }

  aside {
    float: none;
    width: 100%;
  }

  section{
    float: none;
    width: 100%;
  }
}

@media (min-width: 768px){
    nav li {
    width: 120px;
    margin-right: -4px;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.57rem;
    border-bottom:none;
  }

  nav li ul {
  position: absolute;
  display: none;
  opacity: 0;
  transition: 0.5s opacity;
  }

  nav a{
    border-bottom: none;
  }

  nav li:hover ul {
  display: block;
  opacity: 1;
}

  nav li ul li {
  display: block;
}
}
