h1{
 color: gray;
 font-family: sans-serif;
}

.gradient-box{
  margin: 20px;
  width: 300px;
  height: 150px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f5fc+0,bfe8f9+50,9fd8ef+51,2ab0ed+100;Blue+Gloss+%235 */
  background: #e4f5fc; /* Old browsers */
  background: -moz-linear-gradient(top, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
  border-radius: 20px;

}

body, * {
  box-sizing: border-box;
}

.clear{
  clear: both;
}

#wrapper{
  background-color: gray;
  max-width: 960px;
  margin: 0 auto;
}

header{
  background-color: pink;
  height: 100px;
}

nav{
  background-color: lightblue;
  height: 50px;
}

main{
  background-color: white;
  width:960px;
}

footer{
  background-color: lightgray;
  height: 100px;
}

aside{
  background-color: cadetblue;
  width: 300px;
  min-height: 400px;
  float: left;
}

section{
  background-color: thistle;
  width: 660px;
  min-height: 400px;
  float: left;
}
